body {
  margin: 0;
}

main {
  padding: 2vh 5vw;
}

.project-flexbox {
  display: flex;
  gap: 5%;
  justify-content: space-around;
  margin-bottom: 10vh;
}

.project-image {
  width: 50%;
}

.project-info {
  font-size: large;
}

.about-me-img {
  width: 600px;
}

.navbar {
  border-bottom: 1px solid black;
  width: 100%;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Lists/Indenting */
.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 3vw;
  padding-left: 5vw;
}

a {
  color: blue;
}

a:visited {
  color: purple;
}

.footer {
  border-top: 1px solid black;
}

.footer small {
  display: flex;
  gap: 1vw;
  padding: 1vh 5vw;
}
